@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skyblue: #496c96;
  --skyorange: #d17643;
  --skynude: #f2cbbd;
  --skybrown: #604742;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-skyblue: var(--skyblue);
  --color-skyorange: var(--skyorange);
  --color-skynude: var(--skynude);
  --color-skybrown: var(--skybrown);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
